USE [master]
GO
/****** Object:  Database [Zoo]    Script Date: 10.04.2024 13:14:26 ******/
CREATE DATABASE [Zoo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zoo', FILENAME = N'C:\Users\i21nguyenki\Zoo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Zoo_log', FILENAME = N'C:\Users\i21nguyenki\Zoo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zoo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zoo]
GO
/****** Object:  User [verwaltungUser]    Script Date: 10.04.2024 13:14:26 ******/
CREATE USER [verwaltungUser] FOR LOGIN [verwaltung] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [tierarztUser]    Script Date: 10.04.2024 13:14:26 ******/
CREATE USER [tierarztUser] FOR LOGIN [tierarzt] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [pflegerUser]    Script Date: 10.04.2024 13:14:26 ******/
CREATE USER [pflegerUser] FOR LOGIN [pfleger] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [personalabteilungUser]    Script Date: 10.04.2024 13:14:26 ******/
CREATE USER [personalabteilungUser] FOR LOGIN [personalabteilung] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [handwerkerUser]    Script Date: 10.04.2024 13:14:26 ******/
CREATE USER [handwerkerUser] FOR LOGIN [handwerker] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [verwalterRole]    Script Date: 10.04.2024 13:14:26 ******/
CREATE ROLE [verwalterRole]
GO
/****** Object:  DatabaseRole [pflegerRole]    Script Date: 10.04.2024 13:14:26 ******/
CREATE ROLE [pflegerRole]
GO
/****** Object:  DatabaseRole [personalerRole]    Script Date: 10.04.2024 13:14:26 ******/
CREATE ROLE [personalerRole]
GO
/****** Object:  DatabaseRole [personaler]    Script Date: 10.04.2024 13:14:26 ******/
CREATE ROLE [personaler]
GO
/****** Object:  DatabaseRole [handwerkerRole]    Script Date: 10.04.2024 13:14:26 ******/
CREATE ROLE [handwerkerRole]
GO
/****** Object:  DatabaseRole [arztRole]    Script Date: 10.04.2024 13:14:26 ******/
CREATE ROLE [arztRole]
GO
ALTER ROLE [arztRole] ADD MEMBER [tierarztUser]
GO
ALTER ROLE [pflegerRole] ADD MEMBER [pflegerUser]
GO
ALTER ROLE [personalerRole] ADD MEMBER [personalabteilungUser]
GO
ALTER ROLE [handwerkerRole] ADD MEMBER [handwerkerUser]
GO
/****** Object:  Schema [handwerk]    Script Date: 10.04.2024 13:14:26 ******/
CREATE SCHEMA [handwerk]
GO
/****** Object:  Schema [hr]    Script Date: 10.04.2024 13:14:26 ******/
CREATE SCHEMA [hr]
GO
/****** Object:  Schema [tierpflege]    Script Date: 10.04.2024 13:14:26 ******/
CREATE SCHEMA [tierpflege]
GO
/****** Object:  Schema [verwaltung]    Script Date: 10.04.2024 13:14:26 ******/
CREATE SCHEMA [verwaltung]
GO
/****** Object:  Table [dbo].[Gehege]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gehege](
	[Gehege_ID] [smallint] NOT NULL,
	[Bezeichnung] [nvarchar](255) NULL,
	[Objekt_Nr] [smallint] NULL,
	[letzte_Reinigung] [datetime2](0) NULL,
 CONSTRAINT [PK_Gehege] PRIMARY KEY CLUSTERED 
(
	[Gehege_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiere]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiere](
	[Tier_ID] [smallint] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Tierart_Nr] [smallint] NULL,
	[Anzahl] [smallint] NULL,
	[Gehege_Nr] [smallint] NULL,
 CONSTRAINT [PK_Tiere] PRIMARY KEY CLUSTERED 
(
	[Tier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [tierpflege].[Gehege_Tieranzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [tierpflege].[Gehege_Tieranzahl] AS
SELECT g.Bezeichnung, COUNT(t.Tier_ID) AS Anzahl
FROM Gehege g, Tiere t
WHERE g.Gehege_ID=t.Gehege_Nr
GROUP BY g.Bezeichnung;

--CREATE VIEW Tierart_Tieranzahl AS
--SELECT ta.Bezeichnung, COUNT(t.Tier_ID) AS Anzahl_Tiere
--FROM Tiere t, Tierarten ta
--WHERE ta.Bezeichnung=t.Bezeichnung
--GROUP BY ta.Bezeichnung;

--CREATE VIEW Tierklasse_Tieranzahl AS
--SELECT tk.Bezeichnung, COUNT(t.Tier_ID) as Anzahl
--FROM Tiere t, Tierart ta, Tiergattung tg, Tierklasse tk
--WHERE tg.Tierklasse_Nr=tk.Tierklasse_ID
--AND ta.Tiergattung_Nr=tg.Tiergattung_ID
--AND t.Tierart_Nr=ta.Tierart_ID
--GROUP BY tk.Bezeichnung;

--CREATE VIEW Abteilung_Mitarbeiteranzahl AS
--SELECT a.Bezeichnung, COUNT(MitArb_ID) AS Anzahl
--FROM Mitarbeiter m, Abteilung a
--WHERE m.Abt_NR = a.Abt_ID
--GROUP BY a.Bezeichnung;

--CREATE VIEW Tätigkeit_Mitarbeiteranzahl AS
--SELECT t.Bezeichnung, COUNT(m.MitArb_ID) AS Anzahl
--FROM Mitarbeiter m, Taetigkeit t
--WHERE m.Taetigkeit_Nr=t.Taetigkeit_ID
--GROUP BY t.Bezeichnung;

--CREATE VIEW Gehegebetreuung_Mitarbeiteranzahl AS
--SELECT g.Bezeichnung, COUNT(m.MitArb_ID) AS Anzahl
--FROM Gehege g, Gehegebetreuung gb, Mitarbeiter m
--WHERE g.Gehege_ID=gb.Gehege_Nr
--AND m.MitArb_ID=gb.Mitarbeiter_Nr
--GROUP BY g.Bezeichnung;

--CREATE VIEW Wohnort_Mitarbeiteranzahl AS
--SELECT m.Ort, COUNT(m.MitArb_ID) as Anzahl
--FROM Mitarbeiter m, Mitarbeiter ma
--WHERE m.Ort=ma.Ort
--AND m.MitArb_ID=ma.MitArb_ID
--GROUP BY m.Ort;

--CREATE VIEW Futterpläne AS
--SELECT t.Tier_ID, t.Name, ta.Bezeichnung, f.Futter_Name, fm.Menge, fr.Häufigkeit
--FROM Futter f, Futtermenge fm, Futterration fr, Tiere t, Tierart ta
--WHERE f.Futter_ID=fm.Futter_Nr
--AND fr.Rations_ID=fm.Rations_Nr
--AND t.Tier_ID=fr.Tier_Nr
--AND ta.Tierart_ID=t.Tier_ID;

--CREATE VIEW Futtertyp_Einkauf AS
--SELECT f.Futter_Name, SUM(e.Menge) AS Menge
--FROM Futter f, Einkauf e
--WHERE f.Futter_ID=e.Futter_Nr
--GROUP BY f.Futter_Name;

--CREATE VIEW Objektart_Anzahl AS
--SELECT oa.Bezeichnung, COUNT(o.Objekt_ID) AS Anzahl
--FROM Objekte o, Objektart oa
--WHERE o.Objektart_Nr = oa.Objektart_ID
--GROUP BY oa.Bezeichnung;

--CREATE VIEW Gehege_Objekt_Anzahl AS
--SELECT o.Bezeichnung, COUNT(g.Gehege_ID) AS Anzahl
--FROM Objekte o, Gehege g
--WHERE o.Objekt_ID = g.Objekt_Nr
--GROUP BY o.Bezeichnung;
GO
/****** Object:  Table [dbo].[Tierart]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tierart](
	[Tierart_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Bezeichnung] [nvarchar](255) NOT NULL,
	[Tiergattung_Nr] [smallint] NULL,
 CONSTRAINT [PK_Tierart] PRIMARY KEY CLUSTERED 
(
	[Tierart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [tierpflege].[Tierart_Tieranzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE VIEW Gehege_Tieranzahl AS
--SELECT g.Bezeichnung, COUNT(t.Tier_ID) AS Anzahl
--FROM Gehege g, Tiere t
--WHERE g.Gehege_ID=t.Gehege_Nr
--GROUP BY g.Bezeichnung;

CREATE VIEW [tierpflege].[Tierart_Tieranzahl] AS
SELECT ta.Bezeichnung, COUNT(t.Tier_ID) AS Anzahl_Tiere
FROM Tiere t, Tierart ta
WHERE ta.Bezeichnung=t.Name
GROUP BY ta.Bezeichnung;

--CREATE VIEW Tierklasse_Tieranzahl AS
--SELECT tk.Bezeichnung, COUNT(t.Tier_ID) as Anzahl
--FROM Tiere t, Tierart ta, Tiergattung tg, Tierklasse tk
--WHERE tg.Tierklasse_Nr=tk.Tierklasse_ID
--AND ta.Tiergattung_Nr=tg.Tiergattung_ID
--AND t.Tierart_Nr=ta.Tierart_ID
--GROUP BY tk.Bezeichnung;

--CREATE VIEW Abteilung_Mitarbeiteranzahl AS
--SELECT a.Bezeichnung, COUNT(MitArb_ID) AS Anzahl
--FROM Mitarbeiter m, Abteilung a
--WHERE m.Abt_NR = a.Abt_ID
--GROUP BY a.Bezeichnung;

--CREATE VIEW Tätigkeit_Mitarbeiteranzahl AS
--SELECT t.Bezeichnung, COUNT(m.MitArb_ID) AS Anzahl
--FROM Mitarbeiter m, Taetigkeit t
--WHERE m.Taetigkeit_Nr=t.Taetigkeit_ID
--GROUP BY t.Bezeichnung;

--CREATE VIEW Gehegebetreuung_Mitarbeiteranzahl AS
--SELECT g.Bezeichnung, COUNT(m.MitArb_ID) AS Anzahl
--FROM Gehege g, Gehegebetreuung gb, Mitarbeiter m
--WHERE g.Gehege_ID=gb.Gehege_Nr
--AND m.MitArb_ID=gb.Mitarbeiter_Nr
--GROUP BY g.Bezeichnung;

--CREATE VIEW Wohnort_Mitarbeiteranzahl AS
--SELECT m.Ort, COUNT(m.MitArb_ID) as Anzahl
--FROM Mitarbeiter m, Mitarbeiter ma
--WHERE m.Ort=ma.Ort
--AND m.MitArb_ID=ma.MitArb_ID
--GROUP BY m.Ort;

--CREATE VIEW Futterpläne AS
--SELECT t.Tier_ID, t.Name, ta.Bezeichnung, f.Futter_Name, fm.Menge, fr.Häufigkeit
--FROM Futter f, Futtermenge fm, Futterration fr, Tiere t, Tierart ta
--WHERE f.Futter_ID=fm.Futter_Nr
--AND fr.Rations_ID=fm.Rations_Nr
--AND t.Tier_ID=fr.Tier_Nr
--AND ta.Tierart_ID=t.Tier_ID;

--CREATE VIEW Futtertyp_Einkauf AS
--SELECT f.Futter_Name, SUM(e.Menge) AS Menge
--FROM Futter f, Einkauf e
--WHERE f.Futter_ID=e.Futter_Nr
--GROUP BY f.Futter_Name;

--CREATE VIEW Objektart_Anzahl AS
--SELECT oa.Bezeichnung, COUNT(o.Objekt_ID) AS Anzahl
--FROM Objekte o, Objektart oa
--WHERE o.Objektart_Nr = oa.Objektart_ID
--GROUP BY oa.Bezeichnung;

--CREATE VIEW Gehege_Objekt_Anzahl AS
--SELECT o.Bezeichnung, COUNT(g.Gehege_ID) AS Anzahl
--FROM Objekte o, Gehege g
--WHERE o.Objekt_ID = g.Objekt_Nr
--GROUP BY o.Bezeichnung;
GO
/****** Object:  Table [dbo].[Tiergattung]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiergattung](
	[Tiergattung_ID] [smallint] NOT NULL,
	[Bezeichnung] [nvarchar](255) NOT NULL,
	[Tierklasse_Nr] [smallint] NULL,
 CONSTRAINT [PK_Art] PRIMARY KEY CLUSTERED 
(
	[Tiergattung_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tierklasse]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tierklasse](
	[Tierklasse_ID] [smallint] NOT NULL,
	[Bezeichnung] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Tierklasse] PRIMARY KEY CLUSTERED 
(
	[Tierklasse_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [tierpflege].[Tierklasse_Tieranzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE VIEW Gehege_Tieranzahl AS
--SELECT g.Bezeichnung, COUNT(t.Tier_ID) AS Anzahl
--FROM Gehege g, Tiere t
--WHERE g.Gehege_ID=t.Gehege_Nr
--GROUP BY g.Bezeichnung;

--CREATE VIEW Tierart_Tieranzahl AS
--SELECT ta.Bezeichnung, COUNT(t.Tier_ID) AS Anzahl_Tiere
--FROM Tiere t, Tierart ta
--WHERE ta.Bezeichnung=t.Name
--GROUP BY ta.Bezeichnung;

CREATE VIEW [tierpflege].[Tierklasse_Tieranzahl] AS
SELECT tk.Bezeichnung, COUNT(t.Tier_ID) as Anzahl
FROM Tiere t, Tierart ta, Tiergattung tg, Tierklasse tk
WHERE tg.Tierklasse_Nr=tk.Tierklasse_ID
AND ta.Tiergattung_Nr=tg.Tiergattung_ID
AND t.Tierart_Nr=ta.Tierart_ID
GROUP BY tk.Bezeichnung;

--CREATE VIEW Abteilung_Mitarbeiteranzahl AS
--SELECT a.Bezeichnung, COUNT(MitArb_ID) AS Anzahl
--FROM Mitarbeiter m, Abteilung a
--WHERE m.Abt_NR = a.Abt_ID
--GROUP BY a.Bezeichnung;

--CREATE VIEW Tätigkeit_Mitarbeiteranzahl AS
--SELECT t.Bezeichnung, COUNT(m.MitArb_ID) AS Anzahl
--FROM Mitarbeiter m, Taetigkeit t
--WHERE m.Taetigkeit_Nr=t.Taetigkeit_ID
--GROUP BY t.Bezeichnung;

--CREATE VIEW Gehegebetreuung_Mitarbeiteranzahl AS
--SELECT g.Bezeichnung, COUNT(m.MitArb_ID) AS Anzahl
--FROM Gehege g, Gehegebetreuung gb, Mitarbeiter m
--WHERE g.Gehege_ID=gb.Gehege_Nr
--AND m.MitArb_ID=gb.Mitarbeiter_Nr
--GROUP BY g.Bezeichnung;

--CREATE VIEW Wohnort_Mitarbeiteranzahl AS
--SELECT m.Ort, COUNT(m.MitArb_ID) as Anzahl
--FROM Mitarbeiter m, Mitarbeiter ma
--WHERE m.Ort=ma.Ort
--AND m.MitArb_ID=ma.MitArb_ID
--GROUP BY m.Ort;

--CREATE VIEW Futterpläne AS
--SELECT t.Tier_ID, t.Name, ta.Bezeichnung, f.Futter_Name, fm.Menge, fr.Häufigkeit
--FROM Futter f, Futtermenge fm, Futterration fr, Tiere t, Tierart ta
--WHERE f.Futter_ID=fm.Futter_Nr
--AND fr.Rations_ID=fm.Rations_Nr
--AND t.Tier_ID=fr.Tier_Nr
--AND ta.Tierart_ID=t.Tier_ID;

--CREATE VIEW Futtertyp_Einkauf AS
--SELECT f.Futter_Name, SUM(e.Menge) AS Menge
--FROM Futter f, Einkauf e
--WHERE f.Futter_ID=e.Futter_Nr
--GROUP BY f.Futter_Name;

--CREATE VIEW Objektart_Anzahl AS
--SELECT oa.Bezeichnung, COUNT(o.Objekt_ID) AS Anzahl
--FROM Objekte o, Objektart oa
--WHERE o.Objektart_Nr = oa.Objektart_ID
--GROUP BY oa.Bezeichnung;

--CREATE VIEW Gehege_Objekt_Anzahl AS
--SELECT o.Bezeichnung, COUNT(g.Gehege_ID) AS Anzahl
--FROM Objekte o, Gehege g
--WHERE o.Objekt_ID = g.Objekt_Nr
--GROUP BY o.Bezeichnung;
GO
/****** Object:  Table [dbo].[Abteilung]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abteilung](
	[Abt_ID] [smallint] NOT NULL,
	[Bezeichnung] [nvarchar](255) NULL,
 CONSTRAINT [PK_Abteilung] PRIMARY KEY CLUSTERED 
(
	[Abt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mitarbeiter]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mitarbeiter](
	[Mitarbeiter_ID] [smallint] NOT NULL,
	[Name] [nvarchar](10) NULL,
	[Vorname] [nvarchar](10) NULL,
	[Strasse] [nvarchar](30) NULL,
	[PLZ] [nvarchar](255) NULL,
	[Ort] [nvarchar](255) NULL,
	[Tätigkeit_Nr] [smallint] NOT NULL,
	[Geschlecht] [nvarchar](1) NOT NULL,
	[aktiv] [bit] NOT NULL,
 CONSTRAINT [PK_Mitarbeiter] PRIMARY KEY CLUSTERED 
(
	[Mitarbeiter_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tätigkeit]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tätigkeit](
	[Tätigkeit_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Bezeichnung] [nvarchar](255) NOT NULL,
	[Abteilung_Nr] [smallint] NULL,
 CONSTRAINT [PK_Taetigkeit] PRIMARY KEY CLUSTERED 
(
	[Tätigkeit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [hr].[Abteilung_Mitarbeiteranzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [hr].[Abteilung_Mitarbeiteranzahl] AS
SELECT a.Bezeichnung, COUNT(*) AS Anzahl
FROM Mitarbeiter m
JOIN Tätigkeit t ON t.Tätigkeit_ID = m.Tätigkeit_Nr
JOIN Abteilung a ON a.Abt_ID = t.Abteilung_Nr
GROUP BY a.Bezeichnung;
GO
/****** Object:  View [hr].[Tätigkeit_Mitarbeiteranzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [hr].[Tätigkeit_Mitarbeiteranzahl] AS
SELECT t.Bezeichnung, COUNT(*) AS Anzahl
FROM Mitarbeiter m
JOIN Tätigkeit t ON t.Tätigkeit_ID = m.Tätigkeit_Nr
GROUP BY t.Bezeichnung;
GO
/****** Object:  Table [dbo].[Gehegebetreuung]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gehegebetreuung](
	[Mitarbeiter_Nr] [smallint] NOT NULL,
	[Gehege_Nr] [smallint] NOT NULL,
 CONSTRAINT [PK_Gehegebetreuung] PRIMARY KEY CLUSTERED 
(
	[Mitarbeiter_Nr] ASC,
	[Gehege_Nr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [tierpflege].[Gehegebetreuung_Mitarbeiteranzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [tierpflege].[Gehegebetreuung_Mitarbeiteranzahl] AS
SELECT g.Bezeichnung, COUNT(m.Mitarbeiter_ID) AS Anzahl
FROM Gehege g, Gehegebetreuung gb, Mitarbeiter m
WHERE g.Gehege_ID=gb.Gehege_Nr
AND m.Mitarbeiter_ID=gb.Mitarbeiter_Nr
GROUP BY g.Bezeichnung;
GO
/****** Object:  View [hr].[Wohnort_Mitarbeiteranzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [hr].[Wohnort_Mitarbeiteranzahl] AS
SELECT m.Ort, COUNT (*) AS Anzahl
FROM Mitarbeiter m
GROUP BY m.Ort
GO
/****** Object:  Table [dbo].[Futter]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Futter](
	[Futter_ID] [smallint] NOT NULL,
	[Futter_Name] [nvarchar](255) NULL,
	[Futter_Beschreibung] [nvarchar](255) NULL,
 CONSTRAINT [PK_Futter] PRIMARY KEY CLUSTERED 
(
	[Futter_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Futtermenge]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Futtermenge](
	[Futter_Nr] [smallint] NOT NULL,
	[Rations_Nr] [smallint] NOT NULL,
	[Menge] [smallint] NULL,
 CONSTRAINT [PK_Futtermenge] PRIMARY KEY CLUSTERED 
(
	[Futter_Nr] ASC,
	[Rations_Nr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Futterration]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Futterration](
	[Rations_ID] [smallint] NOT NULL,
	[Tier_Nr] [smallint] NOT NULL,
	[Häufigkeit] [smallint] NULL,
 CONSTRAINT [PK_Futterration_1] PRIMARY KEY CLUSTERED 
(
	[Rations_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [tierpflege].[Futterpläne]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [tierpflege].[Futterpläne] AS
SELECT t.Tier_ID, t.Name, ta.Bezeichnung, f.Futter_Name, fm.Menge, fr.Häufigkeit
FROM Futter f, Futtermenge fm, Futterration fr, Tiere t, Tierart ta
WHERE f.Futter_ID=fm.Futter_Nr
AND fr.Rations_ID=fm.Rations_Nr
AND t.Tier_ID=fr.Tier_Nr
AND ta.Tierart_ID=t.Tier_ID;
GO
/****** Object:  Table [verwaltung].[Einkauf]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [verwaltung].[Einkauf](
	[Einkauf_ID] [int] IDENTITY(1,1) NOT NULL,
	[Futter_Nr] [smallint] NULL,
	[Datum] [datetime2](7) NULL,
	[Mitarbeiter_Nr] [smallint] NULL,
	[Verkäufer] [nvarchar](255) NULL,
	[Menge] [decimal](6, 2) NULL,
	[Markenname] [nvarchar](255) NULL,
	[Steuersatz_in_Prozent] [decimal](4, 2) NULL,
	[Bruttopreis_gesamt] [decimal](15, 2) NULL,
 CONSTRAINT [PK_Einkauf] PRIMARY KEY CLUSTERED 
(
	[Einkauf_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [verwaltung].[Futtertyp_Einkauf]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [verwaltung].[Futtertyp_Einkauf] AS
SELECT f.Futter_Name, SUM(e.Menge) AS Menge
FROM Futter f, Einkauf e
WHERE f.Futter_ID=e.Futter_Nr
GROUP BY f.Futter_Name;
GO
/****** Object:  Table [dbo].[Objektart]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objektart](
	[Objektart_ID] [smallint] NOT NULL,
	[Bezeichnung] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Objektart] PRIMARY KEY CLUSTERED 
(
	[Objektart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objekte]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objekte](
	[Objekt_ID] [smallint] NOT NULL,
	[Bezeichnung] [nvarchar](255) NULL,
	[Objektart_Nr] [smallint] NOT NULL,
 CONSTRAINT [PK_Objekte] PRIMARY KEY CLUSTERED 
(
	[Objekt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [handwerk].[Objektart_Anzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [handwerk].[Objektart_Anzahl] AS
SELECT oa.Bezeichnung, COUNT(o.Objekt_ID) AS Anzahl
FROM Objekte o, Objektart oa
WHERE o.Objektart_Nr = oa.Objektart_ID
GROUP BY oa.Bezeichnung;
GO
/****** Object:  View [handwerk].[Gehege_Objekt_Anzahl]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [handwerk].[Gehege_Objekt_Anzahl] AS
SELECT o.Bezeichnung, COUNT(g.Gehege_ID) AS Anzahl
FROM Objekte o, Gehege g
WHERE o.Objekt_ID = g.Objekt_Nr
GROUP BY o.Bezeichnung;
GO
/****** Object:  Table [dbo].[MedizinischeUntersuchung]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedizinischeUntersuchung](
	[MedUntersuchung_ID] [int] IDENTITY(1,1) NOT NULL,
	[Mitarbeiter_Nr] [smallint] NULL,
	[Tier_Nr] [smallint] NULL,
	[Datum] [datetime2](0) NULL,
	[Befunde] [nvarchar](max) NULL,
	[nächste_Untersuchung] [datetime2](7) NULL,
 CONSTRAINT [PK_MedizinischeUntersuchung] PRIMARY KEY CLUSTERED 
(
	[MedUntersuchung_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [tierpflege].[Tierart_MedizinischeUntersuchungen]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [tierpflege].[Tierart_MedizinischeUntersuchungen] AS
SELECT ta.Bezeichnung, COUNT(m.MedUntersuchung_ID) AS Anzahl
FROM MedizinischeUntersuchung m, Tierart ta, Tiere t
WHERE t.Tierart_Nr = ta.Tierart_ID
GROUP BY ta.Bezeichnung;
GO
/****** Object:  Table [dbo].[Futtertransport]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Futtertransport](
	[Futtertransport_ID] [int] IDENTITY(1,1) NOT NULL,
	[Mitarbeiter_Nr] [smallint] NOT NULL,
	[Futter_Nr] [smallint] NOT NULL,
 CONSTRAINT [PK_Futtertransport] PRIMARY KEY CLUSTERED 
(
	[Futtertransport_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lager]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lager](
	[Lager_ID] [smallint] NOT NULL,
	[Bezeichnung] [nvarchar](255) NOT NULL,
	[Lagerart_Nr] [smallint] NOT NULL,
	[Objekt_Nr] [smallint] NOT NULL,
 CONSTRAINT [PK_Lager] PRIMARY KEY CLUSTERED 
(
	[Lager_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lagerart]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lagerart](
	[Lagerart_ID] [smallint] NOT NULL,
	[Bezeichnung] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Lagerart] PRIMARY KEY CLUSTERED 
(
	[Lagerart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiertransport]    Script Date: 10.04.2024 13:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiertransport](
	[Tiertransport_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tier_Nr] [smallint] NOT NULL,
	[Mitarbeiter_Nr] [smallint] NOT NULL,
 CONSTRAINT [PK_Tiertransport] PRIMARY KEY CLUSTERED 
(
	[Tiertransport_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Abteilung] ([Abt_ID], [Bezeichnung]) VALUES (1, N'Tierpflege')
INSERT [dbo].[Abteilung] ([Abt_ID], [Bezeichnung]) VALUES (2, N'Verwaltung')
INSERT [dbo].[Abteilung] ([Abt_ID], [Bezeichnung]) VALUES (3, N'Handwerk')
GO
INSERT [dbo].[Futter] ([Futter_ID], [Futter_Name], [Futter_Beschreibung]) VALUES (1, N'Frischfleisch', N'Schwein, Rind')
INSERT [dbo].[Futter] ([Futter_ID], [Futter_Name], [Futter_Beschreibung]) VALUES (2, N'Pflanzen', N'Blätter, Kräuter, Gräßer, Pilze')
INSERT [dbo].[Futter] ([Futter_ID], [Futter_Name], [Futter_Beschreibung]) VALUES (3, N'Früchte', N'Orangen, Äpfel, Bananen, Melonen')
GO
INSERT [dbo].[Futtermenge] ([Futter_Nr], [Rations_Nr], [Menge]) VALUES (1, 17, 2000)
INSERT [dbo].[Futtermenge] ([Futter_Nr], [Rations_Nr], [Menge]) VALUES (1, 18, 2500)
INSERT [dbo].[Futtermenge] ([Futter_Nr], [Rations_Nr], [Menge]) VALUES (1, 19, 1800)
GO
INSERT [dbo].[Futterration] ([Rations_ID], [Tier_Nr], [Häufigkeit]) VALUES (1, 1, 1)
INSERT [dbo].[Futterration] ([Rations_ID], [Tier_Nr], [Häufigkeit]) VALUES (2, 1, 1)
INSERT [dbo].[Futterration] ([Rations_ID], [Tier_Nr], [Häufigkeit]) VALUES (3, 2, 1)
GO
INSERT [dbo].[Gehege] ([Gehege_ID], [Bezeichnung], [Objekt_Nr], [letzte_Reinigung]) VALUES (1, N'Elefantentempel', 9, NULL)
INSERT [dbo].[Gehege] ([Gehege_ID], [Bezeichnung], [Objekt_Nr], [letzte_Reinigung]) VALUES (2, N'Savanne', 10, NULL)
INSERT [dbo].[Gehege] ([Gehege_ID], [Bezeichnung], [Objekt_Nr], [letzte_Reinigung]) VALUES (3, N'Affen-Käfig 1', 6, NULL)
GO
INSERT [dbo].[Gehegebetreuung] ([Mitarbeiter_Nr], [Gehege_Nr]) VALUES (1, 27)
INSERT [dbo].[Gehegebetreuung] ([Mitarbeiter_Nr], [Gehege_Nr]) VALUES (3, 2)
INSERT [dbo].[Gehegebetreuung] ([Mitarbeiter_Nr], [Gehege_Nr]) VALUES (4, 1)
GO
INSERT [dbo].[Mitarbeiter] ([Mitarbeiter_ID], [Name], [Vorname], [Strasse], [PLZ], [Ort], [Tätigkeit_Nr], [Geschlecht], [aktiv]) VALUES (1, N'Schwarz', N'Heinz', N'Anaberger Str. 22', N'01139', N'Dresden', 13, N'm', 1)
INSERT [dbo].[Mitarbeiter] ([Mitarbeiter_ID], [Name], [Vorname], [Strasse], [PLZ], [Ort], [Tätigkeit_Nr], [Geschlecht], [aktiv]) VALUES (2, N'Schädlich', N'Herbert', N'Plempengasse 25', N'01445', N'Radebeul', 4, N'm', 1)
INSERT [dbo].[Mitarbeiter] ([Mitarbeiter_ID], [Name], [Vorname], [Strasse], [PLZ], [Ort], [Tätigkeit_Nr], [Geschlecht], [aktiv]) VALUES (3, N'Langer', N'Fritz', N'Gablenzer Str. 12', N'01796', N'Pirna', 13, N'm', 1)
GO
INSERT [dbo].[Objektart] ([Objektart_ID], [Bezeichnung]) VALUES (1, N'Gebäude')
INSERT [dbo].[Objektart] ([Objektart_ID], [Bezeichnung]) VALUES (2, N'Freigelände')
GO
INSERT [dbo].[Objekte] ([Objekt_ID], [Bezeichnung], [Objektart_Nr]) VALUES (1, N'Verwaltungsgebäude', 1)
INSERT [dbo].[Objekte] ([Objekt_ID], [Bezeichnung], [Objektart_Nr]) VALUES (2, N'Eingangsgebäude', 1)
INSERT [dbo].[Objekte] ([Objekt_ID], [Bezeichnung], [Objektart_Nr]) VALUES (3, N'Lager', 1)
GO
SET IDENTITY_INSERT [dbo].[Tätigkeit] ON 

INSERT [dbo].[Tätigkeit] ([Tätigkeit_ID], [Bezeichnung], [Abteilung_Nr]) VALUES (1, N'Animator', 2)
INSERT [dbo].[Tätigkeit] ([Tätigkeit_ID], [Bezeichnung], [Abteilung_Nr]) VALUES (2, N'Elektriker', 3)
INSERT [dbo].[Tätigkeit] ([Tätigkeit_ID], [Bezeichnung], [Abteilung_Nr]) VALUES (3, N'Futterkoch', 1)
SET IDENTITY_INSERT [dbo].[Tätigkeit] OFF
GO
SET IDENTITY_INSERT [dbo].[Tierart] ON 

INSERT [dbo].[Tierart] ([Tierart_ID], [Bezeichnung], [Tiergattung_Nr]) VALUES (2, N'Afrikanischer Löwe', NULL)
INSERT [dbo].[Tierart] ([Tierart_ID], [Bezeichnung], [Tiergattung_Nr]) VALUES (3, N'Allfarbgebirgslori', NULL)
INSERT [dbo].[Tierart] ([Tierart_ID], [Bezeichnung], [Tiergattung_Nr]) VALUES (4, N'Amurleopard', NULL)
SET IDENTITY_INSERT [dbo].[Tierart] OFF
GO
INSERT [dbo].[Tiere] ([Tier_ID], [Name], [Tierart_Nr], [Anzahl], [Gehege_Nr]) VALUES (1, N'Jumbo', 6, 1, 1)
INSERT [dbo].[Tiere] ([Tier_ID], [Name], [Tierart_Nr], [Anzahl], [Gehege_Nr]) VALUES (2, N'Theo', 6, 1, 1)
INSERT [dbo].[Tiere] ([Tier_ID], [Name], [Tierart_Nr], [Anzahl], [Gehege_Nr]) VALUES (3, N'Elli', 6, 1, 1)
GO
INSERT [dbo].[Tiergattung] ([Tiergattung_ID], [Bezeichnung], [Tierklasse_Nr]) VALUES (1, N'Elefant', 1)
INSERT [dbo].[Tiergattung] ([Tiergattung_ID], [Bezeichnung], [Tierklasse_Nr]) VALUES (2, N'Giraffe', 1)
INSERT [dbo].[Tiergattung] ([Tiergattung_ID], [Bezeichnung], [Tierklasse_Nr]) VALUES (3, N'Affe', 1)
GO
INSERT [dbo].[Tierklasse] ([Tierklasse_ID], [Bezeichnung]) VALUES (1, N'Säugetiere')
INSERT [dbo].[Tierklasse] ([Tierklasse_ID], [Bezeichnung]) VALUES (2, N'Reptilien')
INSERT [dbo].[Tierklasse] ([Tierklasse_ID], [Bezeichnung]) VALUES (3, N'Vögel')
GO
ALTER TABLE [dbo].[Mitarbeiter] ADD  CONSTRAINT [DF_Mitarbeiter_aktiv]  DEFAULT ((0)) FOR [aktiv]
GO
ALTER TABLE [dbo].[Futtermenge]  WITH CHECK ADD  CONSTRAINT [FK_Futtermenge_Futter] FOREIGN KEY([Futter_Nr])
REFERENCES [dbo].[Futter] ([Futter_ID])
GO
ALTER TABLE [dbo].[Futtermenge] CHECK CONSTRAINT [FK_Futtermenge_Futter]
GO
ALTER TABLE [dbo].[Futtermenge]  WITH CHECK ADD  CONSTRAINT [FK_Futtermenge_Futterration] FOREIGN KEY([Rations_Nr])
REFERENCES [dbo].[Futterration] ([Rations_ID])
GO
ALTER TABLE [dbo].[Futtermenge] CHECK CONSTRAINT [FK_Futtermenge_Futterration]
GO
ALTER TABLE [dbo].[Gehege]  WITH CHECK ADD  CONSTRAINT [FK_Gehege_Objekte] FOREIGN KEY([Objekt_Nr])
REFERENCES [dbo].[Objekte] ([Objekt_ID])
GO
ALTER TABLE [dbo].[Gehege] CHECK CONSTRAINT [FK_Gehege_Objekte]
GO
ALTER TABLE [dbo].[Lager]  WITH CHECK ADD  CONSTRAINT [FK_Lager_Lagerart] FOREIGN KEY([Lagerart_Nr])
REFERENCES [dbo].[Lagerart] ([Lagerart_ID])
GO
ALTER TABLE [dbo].[Lager] CHECK CONSTRAINT [FK_Lager_Lagerart]
GO
ALTER TABLE [dbo].[Lager]  WITH CHECK ADD  CONSTRAINT [FK_Lager_Objekte] FOREIGN KEY([Objekt_Nr])
REFERENCES [dbo].[Objekte] ([Objekt_ID])
GO
ALTER TABLE [dbo].[Lager] CHECK CONSTRAINT [FK_Lager_Objekte]
GO
ALTER TABLE [dbo].[MedizinischeUntersuchung]  WITH CHECK ADD  CONSTRAINT [FK_MedizinischeUntersuchung_Mitarbeiter] FOREIGN KEY([Mitarbeiter_Nr])
REFERENCES [dbo].[Mitarbeiter] ([Mitarbeiter_ID])
GO
ALTER TABLE [dbo].[MedizinischeUntersuchung] CHECK CONSTRAINT [FK_MedizinischeUntersuchung_Mitarbeiter]
GO
ALTER TABLE [dbo].[MedizinischeUntersuchung]  WITH CHECK ADD  CONSTRAINT [FK_MedizinischeUntersuchung_Tiere] FOREIGN KEY([Tier_Nr])
REFERENCES [dbo].[Tiere] ([Tier_ID])
GO
ALTER TABLE [dbo].[MedizinischeUntersuchung] CHECK CONSTRAINT [FK_MedizinischeUntersuchung_Tiere]
GO
ALTER TABLE [dbo].[Mitarbeiter]  WITH CHECK ADD  CONSTRAINT [FK_Mitarbeiter_Tätigkeit] FOREIGN KEY([Tätigkeit_Nr])
REFERENCES [dbo].[Tätigkeit] ([Tätigkeit_ID])
GO
ALTER TABLE [dbo].[Mitarbeiter] CHECK CONSTRAINT [FK_Mitarbeiter_Tätigkeit]
GO
ALTER TABLE [dbo].[Objekte]  WITH CHECK ADD  CONSTRAINT [FK_Objekte_Objektart] FOREIGN KEY([Objektart_Nr])
REFERENCES [dbo].[Objektart] ([Objektart_ID])
GO
ALTER TABLE [dbo].[Objekte] CHECK CONSTRAINT [FK_Objekte_Objektart]
GO
ALTER TABLE [dbo].[Tätigkeit]  WITH CHECK ADD  CONSTRAINT [FK_Tätigkeit_Abteilung] FOREIGN KEY([Abteilung_Nr])
REFERENCES [dbo].[Abteilung] ([Abt_ID])
GO
ALTER TABLE [dbo].[Tätigkeit] CHECK CONSTRAINT [FK_Tätigkeit_Abteilung]
GO
ALTER TABLE [dbo].[Tierart]  WITH CHECK ADD  CONSTRAINT [FK_Tierart_Tiergattung] FOREIGN KEY([Tiergattung_Nr])
REFERENCES [dbo].[Tiergattung] ([Tiergattung_ID])
GO
ALTER TABLE [dbo].[Tierart] CHECK CONSTRAINT [FK_Tierart_Tiergattung]
GO
ALTER TABLE [dbo].[Tiere]  WITH CHECK ADD  CONSTRAINT [FK_Tiere_Gehege] FOREIGN KEY([Gehege_Nr])
REFERENCES [dbo].[Gehege] ([Gehege_ID])
GO
ALTER TABLE [dbo].[Tiere] CHECK CONSTRAINT [FK_Tiere_Gehege]
GO
ALTER TABLE [dbo].[Tiere]  WITH CHECK ADD  CONSTRAINT [FK_Tiere_Tierart] FOREIGN KEY([Tierart_Nr])
REFERENCES [dbo].[Tierart] ([Tierart_ID])
GO
ALTER TABLE [dbo].[Tiere] CHECK CONSTRAINT [FK_Tiere_Tierart]
GO
ALTER TABLE [dbo].[Tiergattung]  WITH CHECK ADD  CONSTRAINT [FK_Tiergattung_Tierklasse] FOREIGN KEY([Tierklasse_Nr])
REFERENCES [dbo].[Tierklasse] ([Tierklasse_ID])
GO
ALTER TABLE [dbo].[Tiergattung] CHECK CONSTRAINT [FK_Tiergattung_Tierklasse]
GO
ALTER TABLE [verwaltung].[Einkauf]  WITH CHECK ADD  CONSTRAINT [FK_Einkauf_Futter] FOREIGN KEY([Futter_Nr])
REFERENCES [dbo].[Futter] ([Futter_ID])
GO
ALTER TABLE [verwaltung].[Einkauf] CHECK CONSTRAINT [FK_Einkauf_Futter]
GO
ALTER TABLE [verwaltung].[Einkauf]  WITH CHECK ADD  CONSTRAINT [FK_Einkauf_Mitarbeiter] FOREIGN KEY([Mitarbeiter_Nr])
REFERENCES [dbo].[Mitarbeiter] ([Mitarbeiter_ID])
GO
ALTER TABLE [verwaltung].[Einkauf] CHECK CONSTRAINT [FK_Einkauf_Mitarbeiter]
GO
USE [master]
GO
